:root {
  --l: 50%;
  --lime: hsl(61, 70%, calc(var(--l) + 2%));
  --red: hsl(4, 69%, 50%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(200, 55%, 16%);
}

.mortgage {
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
}

.mortgage_content{
  padding: 1em;
}

.mortgage_btn {
  background-color: var(--lime);
  border-radius: 50px;
  color: var(--slate-900);
  transition: background-color .2s ease-in-out;
}

.mortgage_btn:hover {
  background-color: hsl(61, 70%, calc(var(--l) + 32%));
}

.mortgage_input {
  border: 1px solid var(--slate-500);
  border-radius: 4px;
  overflow: hidden;
  transition: border-color .1s ease-in-out;
}

.mortgage_input:focus-within{
  border-color: var(--lime);
}

.mortgage_input-reverse{
  flex-direction: row-reverse;
}

.mortgage_input-decoration {
  display: grid;
  place-items: center;
  background-color: var(--slate-100);
  padding: 0 16px;
  color: var(--slate-700);
  transition: background-color .1s ease-in-out;
}

.mortgage_input:focus-within .mortgage_input-decoration{
  background-color: var(--lime);
  color: var(--slate-900);
}
